<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/assets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/folder/create" method="post">
        <input type="text" name="foldername" id="" placeholder="Folder name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>