.folders{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 11, 15);
    color: white;
}

body{
    background-color: rgb(11, 11, 15);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1.6%;
}

.loginBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.login{
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 0px solid white;
    border-radius: 5px;
    height: 220px;
    width: 250px;
    margin-bottom: 10%;
}

.loginsignup{
    display: flex;
    gap: 20px;
}

.userpass{
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    gap: 15px;
}

.n{
    font-size: x-small;
}

.p{
    font-size: xx-small;
}

.a{
    text-decoration: underline;
}

.loginButton{
    font-size: x-small;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 60px;
    background-color: rgb(33, 33, 44);
    color: white;
    border: 1px solid white;
}

.loginButton:hover{
    cursor: pointer;
    background-color: rgb(45, 45, 57);
}

.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(11, 11, 15);
    height: 60px;
    width: 98.5%;
    border: 1px solid rgb(79, 79, 79);
    font-size: small;
}

.not-header{
    display: flex;
}

.createnew{
    font-size: x-small;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.main{
    padding-left: 20px;
    flex-direction: column;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    width: 100%;
    height: auto;
    font-size: small;
    
}

.directory{
    color: rgb(255, 255, 255);
}

.folderarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(79, 79, 79);
    height: 100vh;
    width: 180px;
    background-color: rgb(11, 11, 15);
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.sidebarb{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideb{
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 140px;
    height: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(11, 11, 15);
    border-radius: 5px;
    border: 0;
    gap: 5px;
}

.sideb:hover{
    background-color: rgb(33, 33, 44)
}

.twobutts{
    display: flex;
    gap: 10px;
}

.errors{
    color: rgb(185, 93, 93);
    display: flex;
    font-size: x-small;
    align-items: baseline;
    flex-direction: column;
}

.folder{
    font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(22, 22, 31);
    width: 80vw;
    height: 30px;
    border: 0px solid rgb(125, 124, 124);
    border-radius: 5px;
}

.folder:hover{
    cursor: pointer;
    background-color: rgb(33, 33, 44)
}

.fileName{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: x-small;
}

.directory{
    color: gray;
}

.parent{
    color: rgb(252, 252, 252);
}

.iconname{
    display: flex;
    gap: 5px;
    align-items: center;
    height: 100%;
    width: 60%;
}

.size{
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 100%;
    width: 20%;
}